@import "neat";

$nav-height: 4em;
$section-offset: $nav-height + 2 * $gutter;

@import "colors";

nav {
  background-color: $green;
  @include pad(0.5*$gutter $gutter);

  img { height: $nav-height; }

  position: fixed;
  width: $max-width + 2 * $gutter;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;

  .link {
    @include span-columns(2 of 12);
    text-align: right;

    &:first-child {
      @include span-columns(6 of 12);
      text-align: left;
    }
  }

}


section {
  padding-top: $section-offset;
  @include outer-container;
}

#top {
  #video {
    @include span-columns(8 of 12);
    @include shift(2);
    @include omega;
  }
}

.profile {
  @include span-columns(4 of 12);
  &:nth-child(3n+1) {
    @include omega;
  }

  /* NOTE: You might have to edit this if more
  people join the team. */
  &:nth-child(5) {
    @include shift(2);
  }

  img {
    @include span-columns(3 of 4);
    @include shift(.5);
  }
}

.sponsor {
  @include span-columns(3 of 12);

  img {
    @include span-columns(2 of 3);
    @include shift(.5);
  }
}

#contact-methods {
  @include row;

  .contact-method {
    @include span-columns(3 of 12);

    .contact-title { @include clearfix; }
  }
}
