@import "neat";

$nav-height: 2 * $gutter;
$section-offset: 4 * $gutter;

@import "colors";

nav {
  background-color: $green;
  padding: 0.5*$gutter $gutter;

  img { height: $nav-height; }

  position: fixed;
  width: $max-width + 2 * $gutter;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;

  .link {
    @include span-columns(2 of 12);
    text-align: right;

    a {
      font-size: 2em;
      text-decoration: none;
      color: #FFF;
    }

    /* The logo */
    &:first-child {
      @include span-columns(6 of 12);
      text-align: left;
      a { font-size: 1em; }
    }
  }

  &.mid-page {
    box-shadow: 0px 0px 6px -2px #000;
  }
}

section {
  .wrapper {
    padding-top: $section-offset;
    padding-bottom: 0.5 * $section-offset;
    @include outer-container;
  }
}

#top { background-color: $green; }
#aboutus { background-color: $grey; }
#news { background-color: $grey; }
#contact { background-color: $grey; }

#top {
  #video {
    @include span-columns(8 of 12);
    @include shift(2);
    @include omega;
  }
}

.profile {
  @include span-columns(4 of 12);
  &:nth-child(3n+1) {
    @include omega;
  }

  /* NOTE: You might have to edit this if more
  people join the team. */
  &:nth-child(5) {
    @include shift(2);
  }

  img {
    @include span-columns(3 of 4);
    @include shift(.5);
  }
}

.sponsor {
  @include span-columns(3 of 12);

  img {
    @include span-columns(2 of 3);
    @include shift(.5);
  }
}

#contact-methods {
  @include row;

  .contact-method {
    @include span-columns(3 of 12);

    .contact-title { @include clearfix; }
  }
}
