<% content_for :title do %>
  The Science Behind Running with Music - TempoRun
<% end %>

<section id="science">
<div class="wrapper">
  <div class="section-header">
    <h1>Running with Music</h1>
    <span class="byline">The easiest way to improve your speed and endurance</span>
  </div>

  <div id="article">
    <p>
    There have been many studies that look at the effects of music on athletes, especially runners.
    </p> <p>
    One of the leading scientists in the area is
    <a href="http://www.brunel.ac.uk/sse/sport-sciences/people/dr-costas-karageorghis" target="_blank">Dr. Costas Karageorghis</a>, from Brunnel University.
    In a recent study, he discovered that listening to music while runing can boost performance by up to 15%.
    He showed that music acts as a stimulant to an athlete's workout, and even called music <strong>"a legal drug for athletes."</strong>
    </p> <p>
    As a direct result of his research, Dr. Karageorghis helped create a half marathon in London,
    using a route lined with speakers playing music. Read more about Dr. Karageorghis' experiment on
    <a href="http://www.guardian.co.uk/lifeandstyle/2012/apr/22/does-music-help-you-run-faster" target="_blank">the Guardian</a>
    and <a href="http://www.livescience.com/5799-music-benefits-exercise-studies-show.html" target="_blank">LiveScience</a>.
    </p> <p>
    <strong><a href="http://www.playmakers.com/" target="_blank">Playmakers</a></strong>,
    an authority on running and fitness, has similar views on the issue.
    The company gives away a lot of good advice for improving running technique,
    and one of the points they emphasize is to focus on the cadence, or tempo, of your run.
    </p> <p>
    Playmakers reports that one of the most common mistakes runners make
    is hitting the ground with the heel of their foot,
    which is less efficient and is more likely to lead to injury.
    Instead they recommend running at 180 steps per minute,
    which encourages you to hit the ground with the middle of your feet &dash; proven to be a better running practice.
    </p> <p>
    If you'd like to try adding music to your workout, you should check out our app, <strong><%= link_to "TempoRun", :root %>.</strong>
    We've been hard at work for the past few months creating an app based on the hard facts of running science.
    It was designed by runners, for runners, and we know you'll love it.
    </p>
  </div>
</div>
</section>

