<%= image_tag "http://placekitten.com/200/200", id: "logo" %>

<h1>acm@msu</h1>
<span class="byline">Association of Computing Machinery at MSU</span>

<p>acm@msu is a group of awesome computer scientists at Michigan State University.
We meet every Thursday night to hear great talks, write code, and teach and learn from each other.
Come join us -- all skill levels are welcome, and we love new faces.
</p>

<div class="about">
  <h2>Why acm@msu?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>

<div class="about">
  <h2>How do I join?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
  nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

<div class="about">
  <h2>Where can I get help?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
  </p>
</div>
