@import "neat-helpers";

// Define your breakpoints
$mobile: new-breakpoint(max-device-width 480px 4);
$tablet: new-breakpoint(min-device-width 481px max-device-width 768px 8);
$large: new-breakpoint(min-device-width 769px 12);
