@import "neat-helpers";

// Define your breakpoints
$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 768px min-width 481px 8);
$large: new-breakpoint(min-width 769px 12);
