#profiles {
  .profile {
    @include media($large) {
      @include span-columns(4 of 12);
      &:nth-child(3n) { @include omega; }
      &:nth-child(4) { @include shift(2); }
    }
    @include media($tablet) {
      @include span-columns(2);
      &:nth-child(3n+1) { @include shift(1); }
      &:nth-child(4) { @include shift(2); }
    }
    @include media($mobile) {
      @include span-columns(2);
      &:nth-child(2n) { @include omega; }
      &:last-child { @include shift(1); }
    }

    margin-bottom: $gutter;

    img {
      @include span-columns(3 of 4);
      @include shift(.5);
      margin-bottom: $gutter;
    }

    .name {
      font-family: $light;
      font-size: 1.6em;
      text-align: center;
    }
  }
}
