/***************** Colors **********************/
@mixin grey {
  background:#638aa8;
  color:#fff;
  h1{
    color:#fff;
    text-shadow:0 2px 3px rgba(0,0,0,0.5);
  }
  h2{
    text-shadow:0 1px 2px rgba(0,0,0,0.5);
  }
  .subHeading{
    color:#fff;
    text-shadow:0 1px 1px rgba(0,0,0,0.5);
    font-weight:100;
  }
  a{color:#fff;}
}

@mixin brown {
    background: #a99a90 !important;
  h1{
    color:#fff;
    text-shadow:0 2px 3px #333;
  }
  h2{
    text-shadow:0 2px 3px #333;
  }
  .subHeading{
    color:#fff;
    text-shadow:0 1px 1px #333;
    font-weight:100;
  }
  a{color:#fff;} 
}

@mixin dark {
  background: #636b66 !important;

  h1{
    color:#fff;
    text-shadow:0 2px 3px #333;
  }
  h2{
    text-shadow:0 2px 3px #333;
  }
  .subHeading{
    color:#fff;
    text-shadow:0 1px 1px #333;
    font-weight:100;
  }
  a{color:#fff;}
}

.grey{ @include grey; }
.brown { @include brown; }
.dark { @include dark; }
