#contact-methods {
  @include row;

  .contact-method {
    background-color: $green;
    border-radius: 4px;
    box-shadow: 2px 2px 12px -2px #000;
    @include span-columns(3 of 12);

    img {
      $width: 3 * $column;
      height: $width;
      padding-bottom: $gutter;
    }

    padding: $gutter;
    text-align: center;

    .contact-title { @include clearfix; }
  }
}
