@import "neat";
@import "fonts";
@import "colors";

$nav-height: 2 * $gutter;

nav {
  padding: 0.5*$gutter 0;
  @include media($large) {
  width: $max-width + 2 * $gutter;
    padding: 0.5*$gutter $gutter;
    .link {
      @include span-columns(2 of 12);
    }
  }
  @include media($tablet) {
    .link {
      @include span-columns(1 of 8);
      &:first-child { @include span-columns(3 of 8); }
    }
  }
  @include media($mobile) {
    .link {
      @include span-columns(2 of 12);
      display: none;
      &:first-child { display: block; }
    }
  }
}

nav {
  z-index: 1;
  background-color: $green;

  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;

  .link {

    height: $nav-height;
    position: relative;

    a {
      position: absolute;
      bottom: 0;
      right: 0;
      font-family: $light;
      font-size: 1.5em;
      text-decoration: none;
      color: #FFF;
    }

    /* The logo */
    &:first-child {
      text-align: left;
      a {
        right: auto; /* Float to left */
        font-size: 1em;
      }
      img { height: $nav-height; }
    }
  }

  &.mid-page {
    box-shadow: 0px 0px 6px -2px #000;
  }
}
