@import "neat";

#reviews {
  background: image_url("review_background.png") no-repeat center center fixed;
  background-size: cover;

  .section-header .byline {
      color: $grey;
  }
}

#testimonials {
  @include span-columns(5 of 12);

  .testimonial {
    @include fill-parent;

    /* Put each testimonial on a white "Card" */
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 2px 2px 12px -2px #000;
    padding: $gutter 2 * $gutter;

    position: relative;

    margin-bottom: $gutter;

    blockquote {
      font-family: $paragraph;
      margin: 0px;
    }
    .source {
      font-family: $light;
      text-align: right;
      margin-bottom: 0;
    }
  }
}
