@import "neat";

#reviews {
  @include media($large) {
    background: image_url("review_background.png") no-repeat center center fixed;
    background-size: cover;

    .section-header .byline {
        color: $grey;
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
  }
}

#testimonials {
  @include span-columns(6 of 12);
  @include shift(3);

  /* Left align to get out of the way of the background iPhone image */
  @include media($large) {
    @include shift(0);
  }

  .testimonial {
    @include fill-parent;

    /* Put each testimonial on a white "Card" */
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 2px 2px 12px -2px #000;
    padding: $gutter 2 * $gutter;

    position: relative;

    margin-bottom: $gutter;

    blockquote {
      font-family: $paragraph;
      margin: 0px;
    }
    .source {
      font-family: $light;
      text-align: right;
      margin-bottom: 0;
    }
  }
}
