@import "neat";

@import "nav";

@import "fonts";
@import "colors";

h1 {
  font-family: $medium;
  font-size: 4em;
  color: $green;
  margin: 0px;
}

p {
  font-family: $paragraph;
}

@import "sections";

#top {
  background-color: $green;
  h1 { color: $grey; }
}
#aboutus { background-color: $grey; }
#news { background-color: $grey; }
#contact { background-color: $grey; }

#top {
  #video {
    @include span-columns(8 of 12);
    @include shift(2);
    @include omega;
  }
}

@import "aboutus";
@import "contact";
