@import "neat";

@import "nav";

@import "fonts";
@import "colors";

h1 {
  font-family: $medium;
  font-size: 4em;
  color: $green;
  margin: 0px;
}

p {
  font-family: $paragraph;
}

@import "sections";

#top {
  background-color: $green;
  h1 { color: $grey; }
}
#what-is { background-color: $grey; }
#aboutus { background-color: $grey; }
#news { background-color: $grey; }
#contact { background-color: $grey; }

@import "top";
@import "what_is";
@import "aboutus";
@import "contact";
