@import "neat";

#what-is {
 div#bullets {
    div.bullet {
      /* Put each bullet on a white "Card" */
      background-color: #FFF;
      border-radius: 4px;
      box-shadow: 2px 2px 12px -2px #000;
      @include pad;
      margin-bottom: $gutter;

      @include media($large) {
        @include span-columns(4 of 12);
      }
      @include media($tablet) {
        @include span-columns(4 of 8);
        &:nth-child(2) { @include omega; }
        &:nth-child(3) { @include shift(2); }
      }
      @include media($mobile) {
        @include span-columns(4 of 4);
        img { @include span-columns(2 of 4); }
      }

      div.title {
        display: block;
        min-height: 3em;
        font-family: $light;
        font-size: 1.5em;
        text-align: center;
      }

      img {
        border: 2px solid $grey;
        border-radius: 4px;

        max-width: 100%;
        margin-bottom: $gutter;
      }

      p {
        min-height: 6em;
        @include media($large) {
        font-size: 1.2em;
        }
        @include media($tablet) {
        font-size: 1.2em;
        }
        @include media($mobile) {
          font-size: 1em;
        }
      }
    }
  }
}
