<!DOCTYPE html>
<html>
<head>
  <title>TempoRun</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<%# TODO make this javascript call unobtrusive %>
<body onload="initialize()">

<%= yield %>


<footer id="footer">
  <div class="center">
    <span class="copy">Created by Hwamok David Park and Chelsea Carr</span>
    All Copyrights Reserved. TempoRun App 2013
  </div>
</footer>

</body>
</html>
